.fade {
  margin: 0px;
  padding: 0px;
  background-size: 100%;
  background-repeat:no-repeat;
  background-position:50% 50%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  -webkit-transition: all 2.5s ease;
  -moz-transition: all 2.5s ease;
  -ms-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
}
.fade_final {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
}
