/* inspired by http://designshack.net/articles/css/perform-a-split-reveal-with-css/ */

.split_hover_top {
  top: -50% !important;
}

.split_hover_btm {
  bottom: -50% !important;
}

.split {
  position: relative;
  overflow: hidden;
  background: transparent;
}

.split .content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.split .image {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.split .upper.image, .split .lower.image {
  height: 50%;
}

.split .upper.image {
  top: 0;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  transition: top 0.5s ease;
}

.split .lower.image {
  bottom: 0;
  background-position: 0% 100%;
  -webkit-transition: bottom 0.5s ease;
  -moz-transition: bottom 0.5s ease;
  -o-transition: bottom 0.5s ease;
  -ms-transition: bottom 0.5s ease;
  transition: bottom 0.5s ease;
}
